@model IReadOnlyCollection<Epila.Ph.Core.Domain.Kiosk.Kiosk>

    <ul class="users-list-wrapper media-list">
        @foreach (var item in Model)
        {
            <li class="media" data-kioskId="@item.Id" data-kioskname="@item.KioskName">
                <div class="user-action">
                    <div class="checkbox-con mr-25">
                        <div class="checkbox checkbox-shadow checkbox-sm">
                            <input type="checkbox" id="checkboxsmall3">
                            <label for="checkboxsmall3"></label>
                        </div>
                    </div>
                    <span class="favorite" title="Online" data-toggle="tooltip" data-placement="top">
                        <i class="livicon-evo" data-options="name: globe.svg; size: 24px; style: filled; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;"></i>
                    </span>
                </div>
                <div class="pr-50">
                    <div class="avatar">
                        <img class="rounded-circle" src="~/app-assets/images/portrait/small/mmc.png" alt="Generic placeholder image">
                    </div>
                </div>
                <div class="media-body">
                    <div class="user-details">
                        <div class="mail-items">
                            <span class="list-group-item-text text-truncate">@item.KioskName</span>
                        </div>
                        <div class="mail-meta-item">
                            <span class="float-right">
                                <span class="mail-date">2:15 AM</span>
                            </span>
                        </div>
                    </div>
                    <div class="mail-message">
                        <p class="list-group-item-text mb-0 truncate">
                            @item.KioskDescription
                        </p>
                        <div class="mail-meta-item">
                            <span class="float-right d-flex align-items-center">
                                <a asp-action="Index" asp-controller="Kiosk" title="Configure" data-toggle="tooltip" data-placement="left">
                                    <i class="livicon-evo  mr-50" data-options="name: wrench.svg; size: 24px; style: original; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;"></i>
                                </a>
                                <span class="bullet bullet-success bullet-sm"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </li>
        }
        <li class="media">
            <div class="user-action">
                <div class="checkbox-con mr-25">
                    <div class="checkbox checkbox-shadow checkbox-sm">
                        <input type="checkbox" id="checkboxsmall3">
                        <label for="checkboxsmall3"></label>
                    </div>
                </div>
                <span class="favorite" title="Online" data-toggle="tooltip" data-placement="top">
                    <i class="livicon-evo" data-options="name: globe.svg; size: 24px; style: filled; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;"></i>
                </span>
            </div>
            <div class="pr-50">
                <div class="avatar">
                    <img class="rounded-circle" src="~/app-assets/images/portrait/small/mmc.png" alt="Generic placeholder image">
                </div>
            </div>
            <div class="media-body">
                <div class="user-details">
                    <div class="mail-items">
                        <span class="list-group-item-text text-truncate">MMC Kiosk 1</span>
                    </div>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="mail-date">2:15 AM</span>
                        </span>
                    </div>
                </div>
                <div class="mail-message">
                    <p class="list-group-item-text mb-0 truncate">
                        I will provide you more details after this Saturday. Hope
                        that will be fine for you..
                    </p>
                    <div class="mail-meta-item">
                        <span class="float-right d-flex align-items-center">
                            <a asp-action="Index" asp-controller="Kiosk" title="Configure" data-toggle="tooltip" data-placement="left">
                                <i class="livicon-evo  mr-50" data-options="name: wrench.svg; size: 24px; style: original; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;"></i>
                            </a>
                            <span class="bullet bullet-success bullet-sm"></span>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        @*<li class="media">
            <div class="user-action">
                <div class="checkbox-con mr-25">
                    <div class="checkbox checkbox-shadow checkbox-sm">
                        <input type="checkbox" id="checkboxsmall4">
                        <label for="checkboxsmall4"></label>
                    </div>
                </div>
                <span class="favorite" title="Online">
                    <i class="livicon-evo " data-options="name: globe.svg; size: 24px; style: filled; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;"></i>
                </span>
            </div>
            <div class="pr-50">
                <div class="avatar">
                    <img class="rounded-circle" src="~/app-assets/images/portrait/small/aventus_logo.png" alt="Generic placeholder image">
                </div>
            </div>
            <div class="media-body">
                <div class="user-details">
                    <div class="mail-items">
                        <span class="list-group-item-text text-truncate">Aventus Lobby Kiosk 1</span>
                    </div>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="mail-date">Yesterday</span>
                        </span>
                    </div>
                </div>
                <div class="mail-message">
                    <p class="list-group-item-text text-truncate mb-0">
                        When the equation, first to ability the forwards, the a but travelling, outlines sentinels
                        bad expand to goodness....
                    </p>
                    <div class="mail-meta-item">
                        <span class="float-right d-flex align-items-center">
                            <i class="bx bx-paperclip mr-50"></i>
                            <span class="bullet bullet-warning bullet-sm"></span>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li class="media">
            <div class="user-action">
                <div class="checkbox-con mr-25">
                    <div class="checkbox checkbox-shadow checkbox-sm">
                        <input type="checkbox" id="checkboxsmall7">
                        <label for="checkboxsmall7"></label>
                    </div>
                </div>
                <span class="favorite warning" title="Online">
                    <i class="livicon-evo" data-options="name: globe.svg; size: 24px; style: filled; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;"></i>
                </span>
            </div>
            <div class="pr-50">
                <div class="avatar">
                    <img class="rounded-circle" src="~/app-assets/images/portrait/small/intellicare.png" alt="Generic placeholder image">
                </div>
            </div>
            <div class="media-body">
                <div class="user-details">
                    <div class="mail-items">
                        <span class="list-group-item-text text-truncate mb-0">IntelliCare Service Kiosk 1</span>
                    </div>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="mail-date">03-29-2019</span>
                        </span>
                    </div>
                </div>
                <div class="mail-message">
                    <p class="list-group-item-text mb-0 truncate">
                        Hope your like it, or feel free to comment, feedback or rebound !
                    </p>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="bullet bullet-success bullet-sm"></span>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li class="media mail-read">
            <div class="user-action">
                <div class="checkbox-con mr-25">
                    <div class="checkbox checkbox-shadow checkbox-sm">
                        <input type="checkbox" id="checkboxsmall8">
                        <label for="checkboxsmall8"></label>
                    </div>
                </div>
                <span class="favorite" title="Offline">
                    <i class="livicon-evo" data-options="name: globe.svg; size: 24px; style: solid; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;"></i>
                </span>
            </div>
            <div class="pr-50">
                <div class="avatar">
                    <img class="rounded-circle" src="~/app-assets/images/portrait/small/intellicare.png" alt="Generic placeholder image">
                </div>
            </div>
            <div class="media-body">
                <div class="user-details">
                    <div class="mail-items">
                        <span class="list-group-item-text text-truncate mb-0">IntelliCare Service Kiosk 2</span>
                    </div>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="mail-date">19 Jun</span>
                        </span>
                    </div>
                </div>
                <div class="mail-message">
                    <p class="list-group-item-text mb-0 truncate">
                        Monstrous with geared from far and these, morals, phase rome; Class. Called get amidst of geared from
                        next...
                    </p>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="bullet bullet-danger bullet-sm"></span>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li class="media mail-read">
            <div class="user-action">
                <div class="checkbox-con mr-25">
                    <div class="checkbox checkbox-shadow checkbox-sm">
                        <input type="checkbox" id="checkboxsmall9">
                        <label for="checkboxsmall9"></label>
                    </div>
                </div>
                <span class="favorite">
                    <i class="livicon-evo" data-options="name: globe.svg; size: 24px; style: solid; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;"></i>
                </span>
            </div>
            <div class="pr-50">
                <div class="avatar">
                    <img class="rounded-circle" src="~/app-assets/images/portrait/small/aventus_logo.png" alt="Generic placeholder image">
                </div>
            </div>
            <div class="media-body">
                <div class="user-details">
                    <div class="mail-items">
                        <span class="list-group-item-text text-truncate mb-0">Aventus Lobby Kiosk 2</span>
                    </div>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="mail-date">2 Jun</span>
                        </span>
                    </div>
                </div>
                <div class="mail-message">
                    <p class="list-group-item-text mb-0 truncate">
                        Thanks for your feedback ! Here's a new layout for a new
                        Modern Admin theme.
                    </p>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="bullet bullet-info bullet-sm"></span>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li class="media">
            <div class="user-action">
                <div class="checkbox-con mr-25">
                    <div class="checkbox checkbox-shadow checkbox-sm">
                        <input type="checkbox" id="checkboxsmall10">
                        <label for="checkboxsmall10"></label>
                    </div>
                </div>
                <span class="favorite">
                    <i class="livicon-evo" data-options="name: globe.svg; size: 24px; style: filled; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;"></i>
                </span>
            </div>
            <div class="pr-50">
                <div class="avatar">
                    <img class="rounded-circle" src="~/app-assets/images/portrait/small/SOGO_Hotel_logo.png" alt="Generic placeholder image">
                </div>
            </div>
            <div class="media-body">
                <div class="user-details">
                    <div class="mail-items">
                        <span class="list-group-item-text text-truncate mb-0">
                            Kiosk 1
                        </span>
                    </div>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="mail-date">29 May</span>
                        </span>
                    </div>
                </div>
                <div class="mail-message">
                    <p class="list-group-item-text mb-0 truncate">
                        Hope your like it, or feel free to comment, feedback or rebound !
                    </p>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="bullet bullet-info bullet-sm"></span>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li class="media">
            <div class="user-action">
                <div class="checkbox-con mr-25">
                    <div class="checkbox checkbox-shadow checkbox-sm">
                        <input type="checkbox" id="checkboxsmall11">
                        <label for="checkboxsmall11"></label>
                    </div>
                </div>
                <span class="favorite">
                    <i class="livicon-evo" data-options="name: globe.svg; size: 24px; style: filled; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;"></i>
                </span>
            </div>
            <div class="pr-50">
                <div class="avatar">
                    <img class="rounded-circle" src="~/app-assets/images/portrait/small/unnamed.jpg" alt="Generic placeholder image">
                </div>
            </div>
            <div class="media-body">
                <div class="user-details">
                    <div class="mail-items">
                        <span class="list-group-item-text text-truncate mb-0">Victoria Pasay Kiosk 1</span>
                    </div>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="mail-date">17 May</span>
                        </span>
                    </div>
                </div>
                <div class="mail-message">
                    <p class="list-group-item-text mb-0 truncate">
                        Hope your like it, or feel free to comment, feedback or rebound !.
                    </p>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="bullet bullet-warning bullet-sm"></span>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li class="media mail-read">
            <div class="user-action">
                <div class="checkbox-con mr-25">
                    <div class="checkbox checkbox-shadow checkbox-sm">
                        <input type="checkbox" id="checkboxsmall12">
                        <label for="checkboxsmall12"></label>
                    </div>
                </div>
                <span class="favorite">
                    <i class="livicon-evo" data-options="name: globe.svg; size: 24px; style: solid; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;"></i>
                </span>
            </div>
            <div class="pr-50">
                <div class="avatar">
                    <img class="rounded-circle" src="~/app-assets/images/portrait/small/unnamed.jpg" alt="Generic placeholder image">
                </div>
            </div>
            <div class="media-body">
                <div class="user-details">
                    <div class="mail-items">
                        <span class="list-group-item-text text-truncate mb-0"> Victoria Pasay Kiosk 2 </span>
                    </div>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="mail-date">21 Mar</span>
                        </span>
                    </div>
                </div>
                <div class="mail-message">
                    <p class="list-group-item-text mb-0 truncate">
                        Hope your like it, or feel free to comment, feedback or rebound !
                    </p>
                    <div class="mail-meta-item">
                        <span class="float-right">
                            <span class="bullet bullet-warning bullet-sm"></span>
                        </span>
                    </div>
                </div>
            </div>
        </li>*@
    </ul>