<div class="media">
    <a href="javascript: void(0);">
        <img src="../../../app-assets/images/portrait/small/avatar-s-16.jpg" class="rounded mr-75" alt="profile image" height="64" width="64">
    </a>
    <div class="media-body mt-25">
        <div class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
            <label for="select-files" class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                <span>Upload new photo</span>
                <input id="select-files" type="file" hidden>
            </label>
            <button class="btn btn-sm btn-light-secondary ml-50">Reset</button>
        </div>
        <p class="text-muted ml-1 mt-50">
            <small>
                Allowed JPG, GIF or PNG. Max
                size of
                800kB
            </small>
        </p>
    </div>
</div>
<hr>
<form novalidate>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <div class="controls">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Username" value="hermione007" required data-validation-required-message="This username field is required">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <div class="controls">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name" value="Hermione Granger" required data-validation-required-message="This name field is required">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <div class="controls">
                    <label>E-mail</label>
                    <input type="email" class="form-control" placeholder="Email" value="granger007@hogward.com" required data-validation-required-message="This email field is required">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="alert bg-rgba-warning alert-dismissible mb-2" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="mb-0">
                    Your email is not confirmed. Please check your inbox.
                </p>
                <a href="javascript: void(0);">Resend confirmation</a>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label>Company</label>
                <input type="text" class="form-control" placeholder="Company name">
            </div>
        </div>
        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
            <button type="submit" class="btn btn-primary glow mr-sm-1 mb-1">
                Save
                changes
            </button>
            <button type="reset" class="btn btn-light mb-1">Cancel</button>
        </div>
    </div>
</form>