
@{
    ViewData["Title"] = "Kiosk";
    ViewData["ModuleTitle"] = "Kiosk Management";
    ViewData["AppType"] = "kiosk-application";
    Layout = "_LayoutApp";

}
@section VendorCss{
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/sweetalert2.min.css">
}
@section PageCss
{
    <link href="~/assets/css/kiosk/Kiosk.css" rel="stylesheet" />
}
<div class="content-area-wrapper">
    <div class="sidebar-left">
        <div class="sidebar">
            <div class="sidebar-content email-app-sidebar d-flex">
                <!-- sidebar close icon -->
                <span class="sidebar-close-icon">
                    <i class="bx bx-x"></i>
                </span>
                <!-- sidebar close icon -->
                <div class="email-app-menu">
                    <div class="form-group form-group-compose">
                        <!-- new button  -->
                        <a class="btn btn-primary btn-block my-2" href="" data-ajax="true" data-ajax-begin="KioskController.OnBeginGetKioskForm()" data-ajax-failure="KioskController.OnErrorGetKioskForm()"
                           data-ajax-success="KioskController.OnSuccessGetKioskForm()" data-ajax-url="/kiosk/getform/0"
                           data-ajax-update="#dvKioskForm">
                            <i class="bx bx-plus"></i>
                            New Kiosk
                        </a>
                    </div>
                    <div class="sidebar-menu-list">
                        <!-- sidebar menu  -->
                        <div class="list-group list-group-messages">
                            <a href="#" class="list-group-item pt-0 active" id="inbox-menu">
                                <div class="fonticon-wrap d-inline mr-25">
                                    <i class="livicon-evo" data-options="name: thumbnails-big.svg; size: 24px; style: lines; strokeColor:#5A8DEE; eventOn:grandparent; duration:0.85;">
                                    </i>
                                </div>
                                Kiosk List
                                <span class="badge badge-light-primary badge-pill badge-round float-right mt-50">5</span>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="fonticon-wrap d-inline mr-25">
                                    <i class="livicon-evo" data-options="name: trash.svg; size: 24px; style: lines; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;">
                                    </i>
                                </div>
                                Trash
                                <span class="badge badge-light-danger badge-pill badge-round float-right mt-50">3</span>
                            </a>
                        </div>
                        <!-- sidebar menu  end-->
                        <!-- sidebar label start -->
                        <label class="sidebar-label">Labels</label>
                        <div class="list-group list-group-labels ">
                            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                Active
                                <span class="bullet bullet-success bullet-sm"></span>
                            </a>
                            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                InActive
                                <span class="bullet bullet-danger bullet-sm"></span>
                            </a>
                        </div>
                        <!-- sidebar label end -->
                    </div>
                </div>
            </div>
            <!-- User new mail right area -->
            <div class="new-kiosk-sidebar">
                <div class="card shadow-none quill-wrapper p-0">
                    <div class="card-header">
                        <h3 class="card-title" id="emailCompose">New Kiosk</h3>
                        <button onclick="KioskController.OnCancelKioskForm()" type="button" class="close close-icon">
                            <i class="bx bx-x"></i>
                        </button>
                    </div>
                    <!-- form start -->
                    <div id="dvKioskForm">

                    </div>
                    <!-- form start end-->
                </div>
            </div>
            <!--/ User Chat profile right area -->
        </div>
    </div>
    <div class="content-right">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- email app overlay -->
                <div class="app-content-overlay"></div>
                <div class="email-app-area">
                    <!-- Email list Area -->
                    <div class="kiosk-app-list-wrapper">
                        <div class="kiosk-app-list">
                            <div class="email-action">
                                <!-- action left start here -->
                                <div class="action-left d-flex align-items-center">
                                    <!-- select All checkbox -->
                                    <div class="checkbox checkbox-shadow checkbox-sm selectAll mr-50">
                                        <input type="checkbox" id="checkboxsmall">
                                        <label for="checkboxsmall"></label>
                                    </div>
                                    <!-- delete unread dropdown -->
                                    <ul class="list-inline m-0 d-flex">
                                        <li class="list-inline-item mail-delete">
                                            <button type="button" class="btn btn-icon action-icon" data-toggle="tooltip" data-placement="top" title="Delete Selected">
                                                <span class="fonticon-wrap">
                                                    <i class="livicon-evo" data-options="name: trash.svg; size: 24px; style: lines; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;">
                                                    </i>
                                                </span>
                                            </button>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-icon dropdown-toggle action-icon" id="tag" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="fonticon-wrap">
                                                        <i class="livicon-evo" data-options="name: tag.svg; size: 24px; style: lines; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;">
                                                        </i>
                                                    </span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tag">
                                                    <a href="#" class="dropdown-item align-items-center">
                                                        <span class="bullet bullet-success bullet-sm"></span>
                                                        <span>Set to Active</span>
                                                    </a>
                                                    <a href="#" class="dropdown-item align-items-center">
                                                        <span class="bullet bullet-danger bullet-sm"></span>
                                                        <span>Set to InActive</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-inline-item mail-delete">
                                            <a id="btn-refresh"  data-ajax="true" data-ajax-begin="KioskController.OnBeginRefreshKioskList()"
                                               data-ajax-failure="KioskController.OnErrorRefreshKioskList()"
                                               data-ajax-success="KioskController.OnSuccesRefreshKioskList()"
                                               data-ajax-update="#dv-kiosk-list" data-ajax-url="/kiosk/filterlist" class="btn btn-icon action-icon cursor-pointer" data-toggle="tooltip" data-placement="top" title="Refresh List">
                                                <span class="fonticon-wrap">
                                                    <i class="livicon-evo" data-options="name: refresh.svg; size: 24px; style: lines; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;">
                                                    </i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- action left end here -->
                                <!-- action right start here -->
                                <div class="action-right d-flex flex-grow-1 align-items-center justify-content-around">
                                    <!-- search bar  -->
                                    <div class="email-fixed-search flex-grow-1">
                                        <div class="sidebar-toggle d-block d-lg-none">
                                            <i class="bx bx-menu"></i>
                                        </div>
                                        <fieldset class="form-group position-relative has-icon-left m-0">
                                            <input type="text" class="form-control" id="kiosk-search" placeholder="Search kiosk">
                                            <div class="form-control-position">
                                                <i class="bx bx-search"></i>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <!-- pagination and page count -->
                                    <span class="d-none d-sm-block">1-10 of 653</span>
                                    <button class="btn btn-icon email-pagination-prev d-none d-sm-block">
                                        <i class="bx bx-chevron-left"></i>
                                    </button>
                                    <button class="btn btn-icon email-pagination-next d-none d-sm-block">
                                        <i class="bx bx-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- / action right -->
                            <!-- email user list start -->
                            <div id="dv-kiosk-list" class="kiosk-list list-group">
                                @await Component.InvokeAsync("KioskList").ConfigureAwait(false)
                               
                            </div>
                        </div>
                    </div>
                    <!--/ Email list Area -->
                    <!-- Detailed Email View -->
                    <div class="kiosk-details">
                        <!-- email detail view header -->
                        <div class="email-detail-header">
                            <div class="email-header-left d-flex align-items-center mb-1">
                                <span class="go-back mr-50">
                                    <span class="fonticon-wrap d-inline">
                                        <i class="livicon-evo" data-options="name: chevron-left.svg; size: 32px; style: lines; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;">
                                        </i>
                                    </span>
                                </span>
                                <h5 class="email-detail-title font-weight-normal mb-0">
                                    Kiosk Details
                                    <span id="kioskDetailHeader" class="badge badge-light-danger badge-pill ml-1">MMC Kiosk 1</span>
                                </h5>
                            </div>
                            <div class="email-header-right mb-1 ml-2 pl-1">
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item">
                                        <button class="btn btn-icon action-icon">
                                            <span class="fonticon-wrap">
                                                <i class="livicon-evo" data-options="name: trash.svg; size: 24px; style: lines; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;">
                                                </i>
                                            </span>
                                        </button>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="dropdown">
                                            <button class="btn btn-icon dropdown-toggle action-icon" id="open-mail-tag" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="fonticon-wrap">
                                                    <i class="livicon-evo" data-options="name: tag.svg; size: 24px; style: lines; strokeColor:#475f7b; eventOn:grandparent; duration:0.85;">
                                                    </i>
                                                </span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="open-mail-tag">
                                                <a href="#" class="dropdown-item align-items-center">
                                                    <span class="bullet bullet-success bullet-sm"></span>
                                                    Product
                                                </a>
                                                <a href="#" class="dropdown-item align-items-center">
                                                    <span class="bullet bullet-primary bullet-sm"></span>
                                                    Work
                                                </a>
                                                <a href="#" class="dropdown-item align-items-center">
                                                    <span class="bullet bullet-warning bullet-sm"></span>
                                                    Misc
                                                </a>
                                                <a href="#" class="dropdown-item align-items-center">
                                                    <span class="bullet bullet-danger bullet-sm"></span>
                                                    Family
                                                </a>
                                                <a href="#" class="dropdown-item align-items-center">
                                                    <span class="bullet bullet-info bullet-sm"></span>
                                                    Design
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- email detail view header end-->
                        <div class="kiosk-scroll-area">
                            <!-- email details  -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="collapsible email-detail-head">
                                        <div id="kiosk-details" class="card collapse-header open" role="tablist">
                                            Loading...
                                        </div>
                                        <div class="card collapse-header open" role="tablist">
                                            <div id="headingCollapse7" class="card-header d-flex justify-content-between align-items-center" data-toggle="collapse" role="tab" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                                <div class="collapse-title media">
                                                    <div class="pr-0">
                                                        <div class="mr-75">
                                                            <i class="livicon-evo" data-options="name: touch.svg; size:45px; style: original;"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body mt-25">
                                                        <span class="text-primary">Queue Types </span>
                                                        <small class="text-muted d-block">Kiosk Menu</small>
                                                    </div>
                                                </div>
                                                <div class="information d-sm-flex d-none align-items-center">
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle" id="third-open-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class='bx bx-dots-vertical-rounded mr-0'></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="second-open-submenu">
                                                            <a href="#" class="dropdown-item mail-reply">
                                                                <i class='bx bx-share'></i>
                                                                Reply
                                                            </a>
                                                            <a href="#" class="dropdown-item">
                                                                <i class='bx bx-redo'></i>
                                                                Forward
                                                            </a>
                                                            <a href="#" class="dropdown-item">
                                                                <i class='bx bx-info-circle'></i>
                                                                Report Spam
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="collapse7" role="tabpanel" aria-labelledby="headingCollapse7" class="collapse show">
                                                <div class="card-content">
                                                    <div class="card-body py-1">
                                                        <!-- table start -->
                                                        <div class="table-responsive">
                                                            <table class="table mb-0 table-hover">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="d-flex align-items-center">
                                                                                <i class="livicon-evo mr-1" data-options="name: pen.svg; size:50px; style: solid;"></i>
                                                                                <div class="flex-content">
                                                                                    <span class="font-medium-2 text-uppercase">Consultation</span><br>
                                                                                    <span class="text-muted font-small-2">
                                                                                        Consultation Description
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class=" d-flex justify-content-end align-items-end flex-column">
                                                                                <span class="">
                                                                                    <i class="text-bold-600 bx bx-time font-small-2"></i>
                                                                                    <small class="text-muted mr-50">05 Jul 2019, 10:30</small>
                                                                                </span>
                                                                                <span class="bullet bullet-success bullet-sm mr-50"></span>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="d-flex align-items-center">
                                                                                <i class="livicon-evo mr-1" data-options="name: heart.svg; size:50px; style: solid;"></i>
                                                                                <div class="flex-content">
                                                                                    <span class="font-medium-2 text-uppercase">Procedure</span><br>
                                                                                    <span class="text-muted font-small-2">
                                                                                        Procedure Description
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class=" d-flex justify-content-end align-items-end flex-column">
                                                                                <span class="">
                                                                                    <i class="text-bold-600 bx bx-time font-small-2"></i>
                                                                                    <small class="text-muted mr-50">05 Jul 2019, 10:30</small>
                                                                                </span>
                                                                                <span class="bullet bullet-success bullet-sm mr-50"></span>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="d-flex align-items-center">
                                                                                <i class="livicon-evo mr-1" data-options="name: lab.svg; size:50px; style: solid;"></i>
                                                                                <div class="flex-content">
                                                                                    <span class="font-medium-2 text-uppercase">Consultation & Procedure</span><br>
                                                                                    <span class="text-muted font-small-2">
                                                                                        Consultation & Procedure Description
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class=" d-flex justify-content-end align-items-end flex-column">
                                                                                <span class="">
                                                                                    <i class="text-bold-600 bx bx-time font-small-2"></i>
                                                                                    <small class="text-muted mr-50">05 Jul 2019, 10:30</small>
                                                                                </span>
                                                                                <span class="bullet bullet-success bullet-sm mr-50"></span>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="d-flex align-items-center">
                                                                                <i class="livicon-evo mr-1" data-options="name: question-alt.svg; size:50px; style: solid;"></i>
                                                                                <div class="flex-content">
                                                                                    <span class="font-medium-2 text-uppercase">Inquiry</span><br>
                                                                                    <span class="text-muted font-small-2">
                                                                                        Inquiry Description
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class=" d-flex justify-content-end align-items-end flex-column">
                                                                                <span class="">
                                                                                    <i class="text-bold-600 bx bx-time font-small-2"></i>
                                                                                    <small class="text-muted mr-50">05 Jul 2019, 10:30</small>
                                                                                </span>
                                                                                <span class="bullet bullet-success bullet-sm mr-50"></span>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="d-flex align-items-center">
                                                                                <i class="livicon-evo mr-1" data-options="name: users.svg; size:50px; style: solid;"></i>
                                                                                <div class="flex-content">
                                                                                    <span class="font-medium-2 text-uppercase">SENIOR CITIZEN</span><br>
                                                                                    <span class="text-muted font-small-2">
                                                                                        SENIOR CITIZEN Description
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class=" d-flex justify-content-end align-items-end flex-column">
                                                                                <span class="">
                                                                                    <i class="text-bold-600 bx bx-time font-small-2"></i>
                                                                                    <small class="text-muted mr-50">05 Jul 2019, 10:30</small>
                                                                                </span>
                                                                                <span class="bullet bullet-success bullet-sm mr-50"></span>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <!-- table end -->
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- details  end-->

                        </div>
                    </div>
                    <!--/ Detailed  View -->
                </div>
            </div>
        </div>
    </div>
</div>
<environment include="Development">
    @section VendorScripts{
        @await Html.PartialAsync("_AjaxUnobtrusiveScripts").ConfigureAwait(false)
        <script src="~/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
        <script src="~/app-assets/vendors/js/extensions/polyfill.min.js"></script>
    }
    @section PageScripts
    {
        <script src="~/assets/js/kiosk/KioskController.js"></script>
        <script>
            $(function () {
                let kioskController = new KioskController();
                kioskController.initPage();
            });
        </script>
    }

</environment>
<environment exclude="Development"></environment>
